.star {
  width: 40px;
  height: 40px;
  background: #fff0f0;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  cursor: pointer;
  margin-right: .3em;
  transition: all .3s;
}

.star:hover ~ label,
.star:hover,
.ratingBody input:checked ~ label,
.ratingBody input:checked {
  background: #fff709;
}

.ratingBody {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.addComment input[type="radio"] {
  display: none;
}

blockquote {
  background: #fff0f0;
  border-left: 4px solid #000;
  padding-left: 10px;
}